*{
    background-color: rgb(15, 13, 13);
    color: white;
}
body{
    border: 2px solid white;
    height: 50vh;
    margin-top: 150px;
    width: 50vw;
    margin-left: 350px;
}
h2{
    text-align: center;
}
form{
    text-align: center;
}
form #password {
    height: 20px;
    width: 200px;
    color: pink;
    background-color: #ed7187;
    border-radius: 4px;
    text-decoration: none;
    border: 2px solid #f54c4c;
}